$green-color: rgb(9, 222, 108);
$text-dark: rgb(82, 82, 82);
$text-light: rgb(138, 138, 138);
$light-gray: rgb(115, 115, 115);
$border-ligth: rgb(231, 228, 228);
$hover-green: #65ee8e;
$bg-ligth: rgb(224, 221, 221);
$bg-lightGreen: rgb(206, 248, 222);